.quadrado-branco {
    content: '';
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 80%;
    height: 80%;
    max-width: 500px;
    max-height: 435px;
    background-color: white;
    border-radius: 20px;
    z-index: 1;
}

.linha-cinza {
    content: '';
    position: absolute;
    top: 50%;
    left: 35.35%;
    transform: translateY(-95px);
    width: 100vh;
    height: 100vh;
    max-width: 500px;
    max-height: 5px;
    background-color: rgb(85, 85, 85);
    z-index: 1;
}

.container {
    height: 100vh;
}

.portal-text{
    position: relative;
    z-index: 2;
    transform: translateY(-580px)
}

.login-form, .buttons {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    position: relative;
    z-index: 2;
    transform: translateY(-600px)
}

.text-descricao {
    font-style:inherit;
}

.campo {
    width: 200px;
    padding: 0.5rem;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color:rgb(184, 183, 183);
    border-radius: 15px;
}

.campo:hover {
    border-color: rgb(122, 100, 248);
}

.atendimento {
    transform:scaleX(150%) scaleY(130%);
}

.data {
    transform:scaleX(140%) scaleY(120%);
}

.button-agendar {
    z-index: 1;
    background-color: #007BFF;
    color: white;
    padding: 0.75rem 7.5rem;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    transition: background-color 0.5s;
    border: none;
    cursor: pointer;
    transform: translateY(25px);
}

.button-agendar:hover {
    background-color: #0056b3   ;
}

.logo {
    position: absolute;
    top:15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    height: auto;
    width: 500px;
}

.logo img {
    width: 100%;
    height: auto;
}

optgroup {
    font-size:20px !important;
}


.dropdown-content {
    display: none; /* Esconde o menu por padrão */
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 10px;
    right: 120px; /* Ajusta a posição se necessário */
    border-radius: 20px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #714bfa;
    border-radius: 20px;
}

.usuario {
    position: absolute;
    top: 4%;
    left: 95.5%;
    transform: translateX(-50%);
    z-index: 3;
    height: auto;
    width: 70px;
}

.usuario img {
    width: 100%;
    height: auto;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 8px;

    z-index: 10;

    border: 0;
    background: transparent;
}

#menu:hover {
    cursor: pointer;
}