.quadrado-branco {
    content: '';
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 80%;
    height: 80%;
    max-width: 1000px;
    max-height: 580px;
    background-color: white;
    border-radius: 20px;
    z-index: 0;
}

.container {
    height: 100vh;
}

.portal-text {
    position: relative;
    z-index: 2;
    transform: translateY(-650px)
}

.campos {
    transform: translateY(-580px);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    max-height: 200px;
}

.campos input {
    z-index: 2;
    width: 200px;
    padding: 0.5rem;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.campo-nome {
    background-color:rgb(184, 183, 183);
    border-radius: 15px;
    transform: translateX(-250px) translateY(-70px);
    min-width: 400px;
    min-height: 25px;
}

.campo-nome:hover {
    border-color: rgb(122, 100, 248);
}

.campo-cpf {
    background-color:rgb(184, 183, 183);
    border-radius: 15px;
    transform: translateX(-250px) translateY(-60px);
    min-width: 400px;
    min-height: 25px;
}

.campo-cpf:hover {
    border-color: rgb(122, 100, 248);
}

.campo-end {
    background-color:rgb(184, 183, 183);
    border-radius: 15px;
    transform: translateX(-10px) translateY(-50px);
    min-width: 880px;
    min-height: 25px;
}

.campo-end:hover {
    border-color: rgb(122, 100, 248);
}

.campo-mail {
    background-color:rgb(184, 183, 183);
    border-radius: 15px;
    transform: translateX(-250px) translateY(-40px);
    min-width: 400px;
    min-height: 25px;
}

.campo-mail:hover {
    border-color: rgb(122, 100, 248);
}

.campo-como {
    background-color:rgb(184, 183, 183);
    border-radius: 15px;
    transform: translateX(-250px) translateY(-30px);
    min-width: 400px;
    min-height: 25px;
}

.campo-como:hover {
    border-color: rgb(122, 100, 248);
}

.campo-alerg {
    background-color:rgb(184, 183, 183);
    border-radius: 15px;
    transform: translateX(-10px) translateY(-20px);
    min-width: 880px;
    min-height: 25px;
}

.campo-alerg:hover {
    border-color: rgb(122, 100, 248);
}

.campo-senha {
    background-color:rgb(184, 183, 183);
    border-radius: 15px;
    transform: translateX(-250px) translateY(-10px);
    min-width: 400px;
    min-height: 25px;
}

.campo-senha:hover {
    border-color: rgb(122, 100, 248);
}

.campo-confirmar-senha {
    background-color:rgb(184, 183, 183);
    border-radius: 15px;
    transform: translateX(230px) translateY(-60px);
    min-width: 400px;
    min-height: 25px;
}

.campo-confirmar-senha:hover {
    border-color: rgb(122, 100, 248);
}

.campo-nome-mae {
    background-color:rgb(184, 183, 183);
    border-radius: 15px;
    transform: translateX(230px) translateY(-420px);
    min-width: 400px;
    min-height: 25px;
}

.campo-nome-mae:hover {
    border-color: rgb(122, 100, 248);
}

.campo-contato {
    background-color:rgb(184, 183, 183);
    border-radius: 15px;
    transform: translateX(230px) translateY(-533px);
    min-width: 400px;
    min-height: 25px;
}

.campo-contato:hover {
    border-color: rgb(122, 100, 248);
}

.campo-data {
    background-color:rgb(184, 183, 183);
    border-radius: 15px;
    transform: translateX(230px) translateY(-400px);
    min-width: 400px;
    min-height: 25px;
}

.campo-data:hover {
    border-color: rgb(122, 100, 248);
}

.campo-tip {
    background-color:rgb(184, 183, 183);
    border-radius: 15px;
    transform: translateX(230px) translateY(-390px);
    min-width: 400px;
    min-height: 25px;
}

.campo-tip:hover {
    border-color: rgb(122, 100, 248);
}

.button {
    z-index: 1;
    background-color: #007BFF;
    color: white;
    padding: 0.75rem 6rem;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.2rem;
    transition: background-color 0.5s;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.new {
    position: absolute;
    z-index: 3;
    transform: translateY(360px);
}

.campo-data2 {
    font-weight: lighter;
    font-size: 15px;
    z-index: 2;
    transform: translateX(330px) translateY(-492px);
    color: #777676;
}

.logo {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    height: auto;
    width: 500px;
}

.logo img {
    width: 100%;
    height: auto;
}

/* Modal de seleção de comorbidades */
.selection-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.selection-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.hidden {
    display: none;
}

.confirm-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.confirm-button:hover {
    background-color: #0056b3;
}
